html, body {
    height: 100vh;
}

html {
    background: rgb(21,54,38);
    background: radial-gradient(circle, rgb(19, 49, 34) 0%, rgb(10, 30, 19) 78%);
}

body {
    font-family: 'Courier New', monospace;
    color: #61ee61;
}